* {
  box-sizing: border-box;
  margin: 10px;
  padding: 0;
}

body{
	background-color: gray;
}



@media (min-width: 992px){
		.cl_1, .cl_2, .cl_3, .cl_4, 
		.cl_5, .cl_6, .cl_7, .cl_8,
		.cl_9, .cl_10, .cl_11, .cl_12{
			float: left;
			border: 1px solid green;
		}
		.cl_1{
			width: 8.33%;
		}
		.cl_2{
		    width: 16.66%;	
		}
		.cl_3{
			width: 25%;
		}
		.cl_4{
			width: 31%;
		}
		.cl_5{
			width: 41.66%;
		}
		.cl_6{
			width: 51%;
		}
		.cl_7{
			width: 58.33%;
		}
		.cl_8{
			width: 66.66%;
		}
		.cl_9{
			width: 75.00%;
		}
		.cl_10{
			width: 83.33%;
		}
		.cl_11{
			width: 91.66%;
		}
		.cl_12{
			width: 100%;
		}
	}
	/*mediun devices*/
	@media (min-width: 768px) and (max-width: 991px){
		.cm_1, .cm_2, .cm_3, .cm_4,
		.cm_5, .cm_6, .cm_7, .cm_8,
		.cm_9, .cm_10, .cm_11, .cm_12{
			float: left;
			
			border: 1px solid green;
		}
		.cm_1{
			width: 8.33%;
		}
		.cm_2{
		    width: 16.66%;	
		}
		.cm_3{
			width: 25%;
		}
		.cm_4{
			width: 30%;
		}
		.cm_5{
			width: 41.66%;
		}
		.cm_6{
			width: 47%;
		}
		.cm_7{
			width: 58.33%;
		}
		.cm_8{
			width: 66.66%;
		}
		.cm_9{
			width: 75.00%;
		}
		.cm_10{
			width: 83.33%;
		}
		.cm_11{
			width: 91.66%;
		}
		.cm_12{
			width: 97%;
		}
	}
	

h1 {
  margin-bottom: 15px;
  text-align: center;
}

p {
  width: 100px;
  height: 20px;
  border: 1px solid black;
 

}
#p1 {
  background-color: #A52A2A;
  
}
#p2 {
  background-color: #A52A2A;

}
#p3 {
  background-color: #A52A2A;
}

#container{
	margin: 10px;
	background: blue;
	text-align: justify;
}
#con1{
	margin: 10px;
		background: blue;
		text-align: justify;
}
#con2{
margin: 10px;
margin-right: 10px;
	background: blue;
text-align: justify;
}
